<h3>
  Lista de {{$ctrl.config.nomeDaColecao}}
  <button class="btn btn-default"
          ng-click="$ctrl.onAddBtnClicked({})"
          uib-tooltip="Adicionar novo item"
          tooltip-placement="top">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
  <button class="btn btn-default"
          ng-click="$ctrl.resetarItens()"
          uib-tooltip="Resetar itens"
          tooltip-placement="top">
    <span class="glyphicon glyphicon-refresh"></span>
  </button>
</h3>
<div class="list-group">
  <a class="list-group-item"
    ng-class="{active: hover}"
    ng-repeat="item in $ctrl.colecao"
    ng-click="$ctrl.onItemClicked({$event:item})">
      <h4 class="list-group-item-heading">{{item[$ctrl.config.propriedadePrincipal]}}</h4>
      <p class="list-group-item-text">{{item[$ctrl.config.propriedadeSecundaria]}}</p>
  </a>
</div>

