<header class="header text-center">
  <div class="container">
    <h1>Visita Rio</h1>
    <p>Encontre Pontos Turísticos, Praias, Onde Comer, Onde Dormir, Eventos <br>e muito mais em qualquer lugar da cidade do Rio de Janeiro.</p>
    <span class="block-line"></span>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <main class="main">
        <div class="search col-lg-8 col-lg-offset-2">
          <!-- form -->
          <searchform></searchform>
        </div>

        <div class="clearfix"></div>
        <!-- menu -->
        <menu></menu>
      </main>
    </div>
  </div>
</div>
