<h3>
  Lista de contatos
  <button class="btn btn-primary"
          ng-click="$ctrl.onAddBtnClicked({})"
          uib-tooltip="Adicionar novo contato"
          tooltip-placement="top">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
  <button class="btn btn-primary"
          ng-click="$ctrl.resetarContatos()"
          uib-tooltip="Resetar contatos"
          tooltip-placement="top">
    <span class="glyphicon glyphicon-refresh"></span>
  </button>
</h3>
<p ng-repeat="contato in $ctrl.contatos track by contato.id"
   ng-click="$ctrl.onContatoClicked({$event:contato})">
  <span><strong>{{contato.name}}</strong></span>
  <span>{{contato.phone}}</span>
</p>
