@import "../../app-css-globals.scss";

app-footer {
  display: block;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  background-color: #BDBDBD;

  .footer {

  }

  .footer p {
    height: 40px;
    line-height: 40px;
    margin: 0;
  }
}




