<!DOCTYPE html>
<html lang="pt-br" ng-app="todo">
<head>
  <meta charset="UTF-8">
  <title>TODOs</title>
  <script src="../../js/angular.min.js"></script>
  <link rel="stylesheet" href="../../style.css">
</head>
<body ng-controller="todoCtrl as $ctrl">
  <div class="container">
    <!-- barra titulo e nav -->
    <div class="nav-bar">
      <div class="brand">TODOs - {{$ctrl.titulo}}</div>
    </div>
    <nav class="menu">
      <ul>
        <li>
          <a class="btn" href="../add-categoria/index.html">+ Categoria</a>
        </li>
        <li>
          <a class="btn" href="../add-tarefa/index.html">+ Tarefa</a>
        </li>
        <li ng-show = "$ctrl.show">
          <a class="btn toogle" ng-click="$ctrl.show = false" >Ver tarefas em lista única</a>
        </li>
        <li ng-show = "!$ctrl.show">
          <a class="btn toogle" ng-click="$ctrl.show = true">Ver Tarefas por categoria</a>
        </li>
      </ul>
    </nav>
    <!-- LISTA DE TAREFAS -->
    <div ng-class="{'visible': $ctrl.show}">
      <div ng-controller="homeCtrl as $tasks">
        <div class="tarefas pendentes">
          <h2>Tarefas Pendentes</h2>
          <ul>
            <li ng-repeat="tarefa in $tasks.tarefas | filter:{feito:false}">
              <input id="checkBox" type="checkbox" ng-model="tarefa.feito">
              <span class="nome">{{tarefa.nome}}</span>
              <span class="badge">{{tarefa.categoria}}</span>
            </li>
          </ul>
        </div>
        <div class="tarefas concluidas">
          <h2>Tarefas Concluídas</h2>
          <ul>
            <li ng-repeat="tarefa in $tasks.tarefas | filter:{feito:true}">
              <input id="checkBox" type="checkbox" ng-model="tarefa.feito">
              <span class="nome">{{tarefa.nome}}</span>
              <span class="badge">{{tarefa.categoria}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- LISTA DE TAREFAS POR CATEGORIA -->
    <div ng-class="{'visible': !$ctrl.show}">
      <div ng-controller="categoriaCtrl as $cats">
        <div class="tarefas" ng-repeat="categoria in $cats.categorias">
          <h2>{{categoria}}</h2>
          <ul>
            <li ng-repeat="tarefa in $cats.tarefas | filter:{categoria} | orderBy: 'feito'">
              <input id="checkBox" type="checkbox" ng-model="tarefa.feito">
              <span class="{{tarefa.feito}} nome">{{tarefa.nome}}</span>
              <span class="badge">{{tarefa.categoria}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../app.js"></script>
<script src="todo.js"></script>
<script src="home.js"></script>
<script src="categoria.js"></script>
</body>
</html>
