@import url('css/reset.css');
@import url('css/tipo.css');
@import url('css/grid.css');
@import url('css/header.css');
@import url('css/footer.css');
@import url('css/home.css');
@import url('css/sobre.css');
@import url('css/fidelidade.css');
@import url('css/contato.css');

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #212121;
  background: url('images/background.png');
}

figure {
  background-color: #f2eded;
  border: 1px solid #f2eded;
  text-align: center;
  margin: 30px;
  padding: 15px;
}

figure figcaption {
  margin-top: 10px;
}









