<main class="container">
  <div>
    <h1>Dashboard</h1>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <p><b>Saldo Total Atual:</b> {{}}</p>
      </div>
      <div class="col-md-4">
        <div class="filters">
          <p class="input-group">
          <input type="text" class="form-control"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
          <p class="input-group">
            <input type="text" class="form-control" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <caption>Extrato</caption>
          <thead>
            <tr>
              <th>Data</th>
              <th>Nome</th>
              <th>Categoria</th>
              <th>Valor</th>
              <th>Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{}}</td>
              <td>{{}}</td>
              <td>{{}}</td>
              <td>{{}}</td>
              <td>{{}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
