<main class="main-bar">
  <div class="search">
    <form action="resultado-busca.html" method="post">
      <div class="row">
       <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" id="search" placeholder="Quero encontrar...">
          <span class="input-group-btn"><button class="btn btn-primary" type="submit">Pesquisar</button></span>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="head shadow">
  <div class="row">
    <div class="col-xs-6">
      <h2 class="title">Pontos Turisticos</h2>
    </div>
    <div class="col-xs-6">
      <nav class="actions">
        <a href="javascript:;" title="Compartilhar"><i class="material-icons" aria-hidden="true">share</i> <span>Compartilhar</span></a>
        <a href="javascript:;" title="Copiar Link"><i class="material-icons" aria-hidden="true">&#xE157;</i> <span>link</span></a>
      </nav>
    </div>
  </div>
</div>

<aside class="map visible-xs visible-sm" aria-hidden="true">
  <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d40391.415922616834!2d-43.20007412333552!3d-22.922831733258104!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1494677943038" frameborder="0" allowfullscreen></iframe>
</aside>

<div class="list overflow-y">
  <ul>
    <li>
      <img src="http://lorempixel.com/150/150" alt="placehold">
      <h3>Título</h3>
      <address>Av. Borges de Medeiros, s/n, Rio de Janeiro</address>
      <span class="label label-info">9.1</span>
    </li>
    <li>
      <img src="http://lorempixel.com/150/150" alt="placehold">
      <h3>Título</h3>
      <address>Av. Borges de Medeiros, s/n, Rio de Janeiro</address>
      <span class="label label-info">9.1</span>
    </li>
    <li>
      <img src="http://lorempixel.com/150/150" alt="placehold">
      <h3>Título</h3>
      <address>Av. Borges de Medeiros, s/n, Rio de Janeiro</address>
      <span class="label label-info">9.1</span>
    </li>
    <li>
      <img src="http://lorempixel.com/150/150" alt="placehold">
      <h3>Título</h3>
      <address>Av. Borges de Medeiros, s/n, Rio de Janeiro</address>
      <span class="label label-info">9.1</span>
    </li>
    <li>
      <img src="http://lorempixel.com/150/150" alt="placehold">
      <h3>Título</h3>
      <address>Av. Borges de Medeiros, s/n, Rio de Janeiro</address>
      <span class="label label-info">9.1</span>
    </li>
    <li>
      <img src="http://lorempixel.com/150/150" alt="placehold">
      <h3>Título</h3>
      <address>Av. Borges de Medeiros, s/n, Rio de Janeiro</address>
      <span class="label label-info">9.1</span>
    </li>
    <li>
      <img src="http://lorempixel.com/150/150" alt="placehold">
      <h3>Título</h3>
      <address>Av. Borges de Medeiros, s/n, Rio de Janeiro</address>
      <span class="label label-info">9.1</span>
    </li>
    <li>
      <img src="http://lorempixel.com/150/150" alt="placehold">
      <h3>Título</h3>
      <address>Av. Borges de Medeiros, s/n, Rio de Janeiro</address>
      <span class="label label-info">9.1</span>
    </li>
  </ul>
</div>

</main>
