<h3>Editor de contato</h3>
<form>
  <div class="form-group">
    <input type="text"
          class="form-control"
          placeholder="nome"
          ng-model="$ctrl.contato.name">
    <input type="text"
          class="form-control"
          placeholder="telefone"
          ng-model="$ctrl.contato.phone">
    <button class="btn btn-danger form-control"
            ng-click="$ctrl.editing ?
                      $ctrl.modificarContato({$event:$ctrl.contato}) :
                      $ctrl.novoContato({$event:$ctrl.contato})">
      Enviar
    </button>
    <span>{{$ctrl.erro}}</span>
  </div>
</form>
